@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background: #ffffff;
  margin: 0;
}
h1,h2,h3,h4,a,p,li {
  color: #000103;
  font-family: 'Fira', sans-extra-condensed;
  font-weight: normal;
  
}

